<h1>Create an Event</h1>
<form action="/events" method="post">
<label>Title</label>
<input type="text" name="title">
<label>Date</label>
<input type="textarea" name="date">
<label>Address</label>
<input type="textarea" name="address">
<label>Image URL</label>
<input type="text" name="image">
<button type="submit">Add Event</button>
</form>